In [32]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [29]:
data = pd.read_pickle('./state_clubbed_df.pickle')
data

,state,year,murder,rape,foeticide,kidnapping and abduction,abetment of suicide,exposure and abandonment,procuration of minor girls,selling girls for prostitution,prohibition of child marriage act,other crimes,total
0,andhra pradesh,2001,35.0,84.0,0.0,57.0,7.0,22.0,12.0,0.0,6.0,47.0,270.0
1,arunachal pradesh,2001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,assam,2001,0.0,0.0,0.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0
3,bihar,2001,2.0,16.0,0.0,26.0,0.0,1.0,16.0,1.0,2.0,18.0,83.0
4,chhattisgarh,2001,14.0,150.0,5.0,46.0,1.0,15.0,0.0,0.0,0.0,354.0,585.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
522,d&n haveli,2015,2.0,2.0,0.0,14.0,0.0,2.0,0.0,0.0,0.0,2.0,35.0
523,daman & diu,2015,1.0,0.0,0.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0
524,delhi,2015,54.0,927.0,3.0,6881.0,0.0,23.0,0.0,6.0,0.0,231.0,9489.0
525,lakshadweep,2015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
526,puducherry,2015,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,2.0,56.0

In [30]:
all_headers = data.columns
all_headers

Index(['state', 'year', 'murder', 'rape', 'foeticide',
       'kidnapping and abduction', 'abetment of suicide',
       'exposure and abandonment', 'procuration of minor girls',
       'selling girls for prostitution', 'prohibition of child marriage act',
       'other crimes', 'total'],
      dtype='object')

In [31]:
cols_to_norm = all_headers[2:-1]
print (cols_to_norm)

Index(['murder', 'rape', 'foeticide', 'kidnapping and abduction',
       'abetment of suicide', 'exposure and abandonment',
       'procuration of minor girls', 'selling girls for prostitution',
       'prohibition of child marriage act', 'other crimes'],
      dtype='object')

In [33]:
data[cols_to_norm] = StandardScaler().fit_transform(data[cols_to_norm])
data

,state,year,murder,rape,foeticide,kidnapping and abduction,abetment of suicide,exposure and abandonment,procuration of minor girls,selling girls for prostitution,prohibition of child marriage act,other crimes,total
0,andhra pradesh,2001,-0.088951,-0.293383,-0.422895,-0.331227,0.899853,-0.024876,-0.085015,-0.183679,0.287960,-0.288916,270.0
1,arunachal pradesh,2001,-0.518114,-0.556170,-0.422895,-0.391738,-0.281905,-0.435728,-0.216594,-0.183679,-0.442216,-0.386870,0.0
2,assam,2001,-0.518114,-0.556170,-0.422895,-0.372629,-0.281905,-0.435728,-0.216594,-0.183679,-0.442216,-0.386870,18.0
3,bihar,2001,-0.493590,-0.506115,-0.422895,-0.364137,-0.281905,-0.417052,-0.041155,-0.092531,-0.198824,-0.349356,83.0
4,chhattisgarh,2001,-0.346449,-0.086907,0.247176,-0.342905,-0.113082,-0.155602,-0.216594,-0.183679,-0.442216,0.350914,585.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
522,d&n haveli,2015,-0.493590,-0.549913,-0.422895,-0.376876,-0.281905,-0.398377,-0.216594,-0.183679,-0.442216,-0.382702,35.0
523,daman & diu,2015,-0.505852,-0.556170,-0.422895,-0.369445,-0.281905,-0.435728,-0.216594,-0.183679,-0.442216,-0.386870,28.0
524,delhi,2015,0.144024,2.343874,-0.020852,6.913125,-0.281905,-0.006201,-0.216594,0.363206,-0.442216,0.094565,9489.0
525,lakshadweep,2015,-0.518114,-0.556170,-0.422895,-0.391738,-0.281905,-0.435728,-0.216594,-0.183679,-0.442216,-0.384786,2.0
526,puducherry,2015,-0.518114,-0.556170,-0.422895,-0.386430,-0.281905,-0.435728,-0.216594,-0.183679,-0.442216,-0.382702,56.0

In [35]:
standardised_X = data[cols_to_norm].to_numpy()
standardised_X

array([[-0.0889505 , -0.29338267, -0.42289534, ..., -0.18367861,
         0.28795977, -0.28891598],
       [-0.518114  , -0.55616976, -0.42289534, ..., -0.18367861,
        -0.44221569, -0.38687043],
       [-0.518114  , -0.55616976, -0.42289534, ..., -0.18367861,
        -0.44221569, -0.38687043],
       ...,
       [ 0.14402397,  2.34387356, -0.02085233, ...,  0.36320628,
        -0.44221569,  0.09456525],
       [-0.518114  , -0.55616976, -0.42289534, ..., -0.18367861,
        -0.44221569, -0.38478629],
       [-0.518114  , -0.55616976, -0.42289534, ..., -0.18367861,
        -0.44221569, -0.38270215]])

In [38]:
from numpy import cov,matmul ## function for matrix multiplication
covariance_matrix_X = cov(standardised_X.T)
covariance_matrix_X.shape

(10, 10)

In [39]:
print ("Details of matrices :")
print (standardised_X.T.shape)
print (standardised_X.shape)
print (covariance_matrix_X.shape)

Details of matrices :
(10, 527)
(527, 10)
(10, 10)

In [41]:
from scipy.linalg import eigh
values, vectors = eigh(covariance_matrix_X)

In [42]:
print ("The eigen values are : ")
print (values)

The eigen values are :
[0.10389586 0.40379681 0.41633964 0.47573041 0.51744393 0.66797017
 0.82193192 0.90523886 1.70556884 4.00109496]

In [43]:
print ("The eigen vectors are : ")
print (vectors)

The eigen vectors are :
[[-0.04632949 -0.29187806  0.28377162  0.64446897  0.15313865 -0.10105466
   0.35907977  0.36189911  0.01242022 -0.35080933]
 [ 0.812385    0.25897078 -0.00226524 -0.0966238  -0.00461225  0.17265429
  -0.01533566  0.10025946  0.09716922 -0.46267016]
 [-0.08794884 -0.59964404  0.32187568 -0.15834524 -0.14761174  0.35070028
  -0.34212563 -0.30559528  0.17297537 -0.34478406]
 [-0.36056199 -0.01828497 -0.24647507 -0.4944962  -0.06518634  0.27025821
   0.23209112  0.55985463 -0.07126482 -0.33869355]
 [-0.00862185 -0.15275538 -0.17888176 -0.11337401 -0.08100209 -0.77618672
  -0.44345216  0.17736272  0.02488626 -0.30657016]
 [-0.08315028 -0.11320554 -0.67378172  0.13891147  0.22343723  0.00177957
   0.26748683 -0.51341504  0.07600079 -0.34080002]
 [ 0.04791702 -0.03415626 -0.23090039  0.31813775 -0.63110279  0.15824707
  -0.13216568 -0.00490959 -0.63015333 -0.06397451]
 [ 0.00612253 -0.02991057  0.02655278 -0.01905926  0.69869897  0.14303865
  -0.34846855  0.0405418  -0.60204803 -0.06183424]
 [-0.01336147  0.06887952  0.419215   -0.35561293 -0.07737428 -0.33038132
   0.47157693 -0.36576452 -0.41731877 -0.21774592]
 [-0.43662785  0.66699223  0.198426    0.21339722 -0.03931302  0.0826152
  -0.26538346 -0.14713067  0.12369025 -0.40474727]]

In [49]:
import numpy as np
idx = np.argsort(values)[::-1]
values = values[idx]
vectors = vectors[idx, :]

In [54]:
n_components = 2
vectors = vectors[:n_components]

In [55]:
print (vectors.shape)
print (standardised_X.T.shape)
## Reorienting the data by projecting the data on the eigen vectors
## Since we are using the data to project into 2 dimensions, we are taking the top 2 eigen values 
## and their corresponding eigen vectors

(2, 10)
(10, 527)

In [59]:
new_coordinates = matmul(vectors, standardised_X.T).T
print (vectors.shape)
print (standardised_X.T.shape)

(2, 10)
(10, 527)

In [60]:
print (new_coordinates)
print (new_coordinates.shape)

[[-0.14673113 -0.17009035]
 [-0.15077019  0.33023234]
 [-0.14669242  0.32343701]
 ...
 [ 2.89320374 -2.35479179]
 [-0.15161374  0.32977852]
 [-0.15132457  0.32743712]]
(527, 2)

In [62]:
pca_dataframe = pandas.DataFrame(data = new_coordinates, columns = ["PCA1", "PCA2"])
print (pca_dataframe)

         PCA1      PCA2
0   -0.146731 -0.170090
1   -0.150770  0.330232
2   -0.146692  0.323437
3   -0.165707  0.257021
4   -0.051459  0.357539
..        ...       ...
522 -0.152734  0.311803
523 -0.151367  0.322141
524  2.893204 -2.354792
525 -0.151614  0.329779
526 -0.151325  0.327437

[527 rows x 2 columns]

In [73]:
new_df = pd.concat([data[all_headers[:2]], pca_dataframe], axis=1)
new_df

                 state  year      PCA1      PCA2
0       andhra pradesh  2001 -0.146731 -0.170090
1    arunachal pradesh  2001 -0.150770  0.330232
2                assam  2001 -0.146692  0.323437
3                bihar  2001 -0.165707  0.257021
4         chhattisgarh  2001 -0.051459  0.357539
..                 ...   ...       ...       ...
522         d&n haveli  2015 -0.152734  0.311803
523        daman & diu  2015 -0.151367  0.322141
524              delhi  2015  2.893204 -2.354792
525        lakshadweep  2015 -0.151614  0.329779
526         puducherry  2015 -0.151325  0.327437

[527 rows x 4 columns]